<footer class="footer-container">
  <a class="footer-button" href="#hero">
    <img class="arrow-button" src="./assets/images/ico-arrow.svg" alt="" />
  </a>
  <nav class="articles-container">
    <ul class="link-container">
      <li class="item">
        <a href="https://adalab.es/">articles</a>
      </li>
      <li class="item">
        <a href="https://adalab.es/">books</a>
      </li>
      <li class="item">
        <a href="https://adalab.es/">events</a>
      </li>
      <li class="item">
        <a href="https://adalab.es/">reasons</a>
      </li>
      <li class="item">
        <a href="https://adalab.es/">tips</a>
      </li>
    </ul>
  </nav>
  <nav class="twitter-container">
    <ul class="socialMedia-container">
      <li class="item">
        <a href="https://adalab.es/">twitter</a>
      </li>
      <li class="item">
        <a href="https://adalab.es/">instagram</a>
      </li>
      <li class="item">
        <a href="https://adalab.es/">mastodon.social</a>
      </li>
    </ul>
  </nav>
  <div class="small-container">
    <small>©2020</small>
    <small>we<span class="footer-quore"> ❤︎ </span>components</small>
  </div>
</footer>
