<footer class="footer-container">
  <a class="footer-button" href="#hero" title="Subir al menú principal">
    <img
      class="arrow-button"
      src="./assets/images/ico-arrow.svg"
      alt="Flecha hacia arriba"
    />
  </a>
  <nav class="articles-container">
    <ul class="link-container">
      <li class="item">
        <a href="https://adalab.es/" target="_blank" title="Ir a artículos"
          >articles</a
        >
      </li>
      <li class="item">
        <a href="https://adalab.es/" target="_blank" title="Ir a libros"
          >books</a
        >
      </li>
      <li class="item">
        <a href="https://adalab.es/" target="_blank" title="Ir a eventos"
          >events</a
        >
      </li>
      <li class="item">
        <a href="https://adalab.es/" target="_blank" title="Ir a razones"
          >reasons</a
        >
      </li>
      <li class="item">
        <a href="https://adalab.es/" target="_blank" title="Ir a tips">tips</a>
      </li>
    </ul>
  </nav>
  <nav class="twitter-container">
    <ul class="socialMedia-container">
      <li class="item">
        <a href="https://adalab.es/" target="_blank" title="Ir a Twitter"
          >twitter</a
        >
      </li>
      <li class="item">
        <a href="https://adalab.es/" target="_blank" title="Ir a Instagram"
          >instagram</a
        >
      </li>
      <li class="item">
        <a
          href="https://adalab.es/"
          target="_blank"
          title="Ir a Mastodon.social"
          >mastodon.social</a
        >
      </li>
    </ul>
  </nav>
  <div class="small-container">
    <small>©2020</small>
    <small>we<span class="footer-quore"> ❤︎ </span>components</small>
  </div>
</footer>
