<header id="hero">
  <div class="module1-container">
    <a
      class="module1-menu"
      href="https://adalab.es/"
      target="_blank"
      title="Menú"
    >
      <img class="menu" src="./assets/images/ico-menu.svg" alt="Menú" />
    </a>
    <div class="text-container">
      <h1 class="title">anonymous proxy</h1>
      <p class="subtitle">in hac habitasse platea dictumst.</p>
      <a class="link-button" href="#reasons" title="Bajar a sección Reasons">
        <img
          class="scroll-button"
          src="./assets/images/ico-scroll-down.svg"
          alt="Flecha hacia abajo"
        />
      </a>
    </div>
  </div>
</header>
