<section id="reasons">
  <div class="module3-container">
    <h2 class="module3-title">3 reasons to purchase</h2>
    <article class="module3-article1">
      <h3 class="article-title">Ut sed metus</h3>
      <p class="article-text">Lorem ipsum dolor sit amet, consecteur.</p>
    </article>
    <article class="module3-article2">
      <h3 class="article-title">Curabitur ac erat</h3>
      <p class="article-text">Mauris mattis urna quis lorem molestie.</p>
    </article>
    <article class="module3-article3">
      <h3 class="article-title">Morbi dictum</h3>
      <p class="article-text">Aliquam in dolor et dolor tincidunt.</p>
    </article>
    <button class="module3-button" href="" title="Más razones">
      more reasons
    </button>
  </div>
</section>
