<section id="reasons">
  <div class="module3-container">
    <h2 class="module3-title">3 reasons to purchase</h2>
    <article class="module3-article1">
      <h3 class="article-title">ut sed metus</h3>
      <p class="article-text">lorem ipsum dolor sit amet, consecteur.</p>
    </article>
    <article class="module3-article2">
      <h3 class="article-title">curabitur ac erat</h3>
      <p class="article-text">mauris mattis urna quis lorem molestie.</p>
    </article>
    <article class="module3-article3">
      <h3 class="article-title">morbi dictum</h3>
      <p class="article-text">aliquam in dolor et dolor tincidunt.</p>
    </article>
    <button class="module3-button" href="">more reasons</button>
  </div>
</section>
