// fonts
$font-main: "Roboto", sans-serif;
$font-main-bold: "Roboto Slab", serif;

//$font-main-medium: Roboto:wght@500

// colors
$color-white: #ffffff;
$color-black: #000000;
$color-link: #0271bc;
$color-light-blue: #8ccbea;
$color-ice-blue: #eff9ff;
$color-orange: #f26002;
$color-grey: #4a4a4a;
$color-grey-blue: #304268;
