.footer-container {
  background-color: $color-grey-blue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 465px;
  position: relative;
  @media all and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    height: 240px;
    align-items: baseline;
  }
}

.footer-button {
  background-color: $color-white;
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -22.5px;
  box-shadow: 0 2px 4px 0;
}

.arrow-button {
  width: 21.6px;
  height: 24px;
}

.articles-container {
  @media all and (min-width: 768px) {
    order: 1;
  }
}
.link-container {
  list-style-type: none;
  text-align: center;
  padding: 0;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 37.5px;
  @media all and (min-width: 768px) and (max-width: 1199px) {
    text-align: left;
    min-width: 210px;
    margin: 45px 15px 0 15px;
  }
  @media all and (min-width: 1200px) {
    text-align: left;
    min-width: 161px;
    margin: 45px 15px 0 15px;
  }
}

.twitter-container {
  @media all and (min-width: 768px) {
    order: 2;
  }
}

.socialMedia-container {
  list-style-type: none;
  text-align: center;
  padding: 0;
  height: 86px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @media all and (min-width: 768px) and (max-width: 1199px) {
    text-align: left;
    min-width: 210px;
    margin: 45px 0 0 15px;
  }
  @media all and (min-width: 1200px) {
    text-align: left;
    min-width: 159px;
    margin: 45px 0 0 15px;
  }
}

.item a {
  color: $color-white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $font-main;
  font-size: 16px;
}

.small-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: $color-white;
  font-family: $font-main;
  font-size: 14px;
  height: 60px;
  margin-bottom: 30px;
  @media all and (min-width: 768px) and (max-width: 1199px) {
    align-items: baseline;
    min-width: 210px;
    margin: 45px 15px 0 0;
  }
  @media all and (min-width: 1200px) {
    align-items: baseline;
    min-width: 159px;
    margin: 45px 15px 0 0;
  }
}

.small-container small {
  font-size: 14px;
}

.footer-quore {
  color: $color-orange;
}
