.module1-container {
  height: 100vh;
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.module1-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 44px;
  height: 44px;
  background-color: $color-link;
}

.menu {
  height: 14px;
  width: 16px;
}

.text-container {
  color: $color-white;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 0 15px 0 15px;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-family: $font-main-bold;
  font-size: 42px;
  max-width: 290px;
  @media all and (min-width: 768px) and (max-width: 1199px) {
    font-size: 80px;
    max-width: 690px;
  }
  @media all and (min-width: 1200px) {
    font-size: 100px;
    max-width: 730px;
    max-height: 264px;
  }
}

.subtitle {
  font-family: $font-main;
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
  @media all and (min-width: 768px) and (max-width: 1199px) {
    font-size: 24px;
    max-width: 360px;
    max-height: 32px;
    margin-top: 20px;
  }
  @media all and (min-width: 1200px) {
    font-size: 24px;
    max-width: 730px;
    max-height: 32px;
    margin-top: 0;
    width: 730px;
    height: 32px;
  }
}

.subtitle::first-letter {
  text-transform: uppercase;
}

.link-button {
  background-color: $color-white;
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  margin-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 53px;
  @media all and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 45px;
  }
  @media all and (min-width: 1200px) {
    margin-top: 30px;
    margin-bottom: 13px;
  }
}

.scroll-button {
  width: 20px;
  height: 11.7px;
  margin-top: 3px;
}
